.Body {
  display: grid;
  grid-template:
    "contact   "
    "profile   "
    "education "
    "experience"
    "skills    "
  /  1fr       ;

  @include media(md) {
    grid-template:
      "contact   profile   "
      "education experience"
      "skills    experience"
    /  1fr       3fr       ;
  }
}
