.Skill {
  border: 0.1rem solid $gray6;
  border-radius: 0.4rem;
  display: inline-block;
  margin: 0.1rem;
  padding: 0.1rem 0.3rem;

  &-highlight {
    background-color: $gray6;
    color: $white;
  }
}
