@mixin Section($side) {
  margin-bottom: 1em;

  @include media(md) {
    text-align: if($side == right, left, right);
  }
  @media print {
    text-align: if($side == right, left, right);
  }
  
  @if $side == left {
    ul {
      @include media(md) {
        list-style: none;
        padding: 0;
      }
      @media print {
        list-style: none;
        padding: 0;
      }
    }
    li {
      @include media(md) {
        padding: 0;
      }
      @media print {
        list-style: none;
        padding: 0;
      }
    }
  }

  

  &_heading {
    border-bottom: 0.2rem solid $grayC;
    text-transform: uppercase;
  }
}
