@mixin Section($side) {
  margin-bottom: 1em;

  @include media(md) {
    text-align: if($side == right, left, right);
  }
  @media print {
    text-align: if($side == right, left, right);
  }

  &_heading {
    border-bottom: 0.2rem solid $grayC;
    text-transform: uppercase;
  }
}
