* {
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $white;
  color: $gray4;
  font-family: $sans;
  font-size: 1.6rem;
  line-height: $u2;
  overflow-y: scroll;
}
