* {
  box-sizing: border-box;
  flex: 0 1 auto;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $white;
  color: $gray4;
  display: flex;
  flex-direction: column;
  font-family: $sans;
  font-size: 1.6rem;
  line-height: $u2;
  min-height: 100%;
  overflow-y: scroll;

  @media print {
    font-size: 1.2rem;
  }
}
