h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray1;
  font-weight: 600;
}

h1 {
  font-size: $u8 * 1em;
  font-weight: normal;
  letter-spacing: 0.125em;
  line-height: 1;
  margin: 1em 0 0.5em;
}

h2 {
  font-size: $u1 * 1em;
  letter-spacing: 0.25em;
  margin: 0;
}
