h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray1;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: $u4 * 1em;
  font-weight: normal;
  letter-spacing: 0.125em;
  line-height: 1;
  margin: 0.5em 0;

  @include media(xs) {
    font-size: $u5 * 1em;
  }

  @include media(sm) {
    font-size: $u6 * 1em;
  }

  @include media(md) {
    font-size: $u7 * 1em;
  }

  @include media(lg) {
    font-size: $u8 * 1em;
  }

  @media print {
    margin-top: 0;
  }
}

h2 {
  font-size: $u1 * 1em;
  letter-spacing: 0.25em;
  margin: 0 0 1em;
}

h3 {
  font-size: 1em;
  margin: 0;
}
